<span style="display: inline-block;">
  <ul class="nav">
    <li (click)="showLogin()">{{'login.title' | translate}}</li>
    <li (click)="showSignup()">{{'login.signUp' | translate}}</li>
    <li (click)="showForgotPassword()">{{'login.forgotPassword' | translate}}</li>
    <li (click)="showSubscribe()">{{'login.subscribe' | translate}}</li>
    <li (click)="showContactUs()">{{'login.contactUs' | translate}}</li>
    <li data-target="#exampleModalLong" data-toggle="modal">Customize view</li>
  </ul>
</span>
<span class="form-inline" style="display: inline-block; margin: 11px;">
  <select class="form-select" #selectedLang (change)="switchLang(selectedLang.value)" >
    <option *ngFor="let language of translate.getLangs()" 
      [value]="language"
      [selected]="language === translate.currentLang">
      {{ language }}
    </option>
  </select>
</span>
<div class="wrapper">
  <div class="rec-prism" #rec_prism>
    <div class="face face-top">
      <div class="content">
        <h2>{{'subscribe.subscribe'| translate}}</h2>
        <small>{{'subscribe.enterYourEmailSoWeCanSendYouTheLatestUpdates'| translate}}</small>
        <form   onsubmit="event.preventDefault()">
          <div class="field-wrapper">
            <input type="text" name="email" placeholder="email">
            <label>{{'subscribe.Email' | translate}}</label>
          </div>
          <div class="field-wrapper">
            <input type="submit" value="{{'subscribe.submit' | translate}}" (click)="showThankYou()">
            <!-- <button type="submit" (click)="showThankYou()">Submit</button> -->
          </div>
        </form>
      </div>
    </div>
    <div class="face face-front">
      <div class="content">
        <h2>{{'logIn.signIn' | translate}}</h2>
        <form [formGroup]="loginForm"  (submit)="loginData(loginForm.value)">
          <div class="field-wrapper">
            <mat-form-field class="example-full-width">
            <input type="text" matInput autofocus="true" required="true"   placeholder="{{'logIn.email' | translate}}" formControlName="email" required >
            <mat-error *ngIf="loginForm.get('email').hasError('required')" class="login-forgot-pass">{{'logIn.userNameIsRequired' | translate}}</mat-error>
            <!-- <input type="text" name="username" placeholder="username"> -->
            <!-- <label>Email</label> -->
          </mat-form-field>
          </div>
          <div class="field-wrapper">
            <!-- <input type="password" name="password" placeholder="password" autocomplete="new-password">
            <label>password</label> -->

            <mat-form-field class="example-full-width">
              <input type="password" matInput autofocus="true" required="true"   placeholder="{{'logIn.password'| translate}}" formControlName="password" required >
              <mat-error *ngIf="loginForm.get('password').hasError('required')">{{'logIn.passwordIsRequied' | translate}}</mat-error>
              <!-- <input type="text" name="username" placeholder="username"> -->
              <!-- <label>Email</label> -->
            </mat-form-field>
          </div>

          <div class="field-wrapper">
            <mat-form-field appearance="fill">
              <mat-label>{{'logIn.selectRole' | translate}}</mat-label>
              <mat-select formControlName="role" required>
                <mat-option mdInput >--</mat-option>
                <mat-option mdInput *ngFor="let role of roles" #category [value]="role.id">
                  {{ role.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="loginForm.get('role').hasError('required')">{{'logIn.pleaseChooseARole'| translate}}</mat-error>
            </mat-form-field>
          </div>
          <div class="field-wrapper">
            <input [disabled]="!loginForm.valid" type="submit" value="{{'logIn.submit'| translate}}" >
          </div>
          <span class="psw" (click)="showForgotPassword()">{{'logIn.forgotPassword'| translate}}   </span>
          <span class="signup" (click)="showSignup()">{{'logIn.signUp'| translate}}</span>
        </form>
      </div>
    </div>
    <div class="face face-back">
      <div class="content">
        <h2>{{'password.forgotPassword'|translate}}</h2>
        <small>{{'password.enterResetEmail'| translate}}</small>
        <form onsubmit="event.preventDefault()">
          <div class="field-wrapper">
            <input type="text" name="email" placeholder="email">
            <label>{{'password.email'|translate}}</label>
          </div>
          <div class="field-wrapper">
            <input type="submit" value="{{'password.submit'| translate}}" (click)="showThankYou()">
          </div>
        </form>
      </div>
    </div>
    <div class="face face-right">
      <div class="content" style="text-overflow: clip;">
        <h2>{{'signUp.signUp'| translate}}</h2>
        <form [formGroup]="registerForm"  (submit)="registerData(registerForm.value)">
          <div class="field-wrapper">
            <mat-form-field class="example-full-width">
              <mat-label>{{'signUp.userName' | translate}}</mat-label>
              <input  autofocus="true" required="true" matInput formControlName="username" required >
              <mat-error *ngIf="registerForm.get('username').hasError('required')" class="login-forgot-pass">{{'signUp.userNameIsRequired'| translate}}</mat-error>
            </mat-form-field>
          </div>
          <div class="field-wrapper">
            <mat-form-field class="example-full-width">
              <mat-label>{{'signUp.email'| translate}}</mat-label>
              <input  autofocus="true" required="true" matInput formControlName="email" required >
              <mat-error *ngIf="registerForm.get('email').hasError('required')" class="">{{'signUp.emailIsRequired'| translate}}</mat-error>
            </mat-form-field>
          </div>
          <div class="field-wrapper">
            <mat-form-field class="example-full-width">
              <mat-label>{{'signUp.password' | translate}}</mat-label>
              <input  autofocus="true" required="true" matInput formControlName="password" required >
              <mat-error *ngIf="registerForm.get('password').hasError('required')" class="">{{'signUp.passwordIdRequired'| translate}}</mat-error>
            </mat-form-field>
          </div>
          <div class="field-wrapper">
            <mat-form-field class="example-full-width">
              <mat-label>{{'signUp.contact' | translate}}</mat-label>
              <input  type="text" placeholder="email" autofocus="true" required="true" matInput formControlName="contact" required >
              <mat-error *ngIf="registerForm.get('contact').hasError('required')" class="">{{'signUp.contactIsRequired' | translate}}</mat-error>
            </mat-form-field>
          </div>


          <div class="field-wrapper">
            <mat-form-field appearance="fill">
              <mat-label>{{'signUp.selectRole' | translate}}</mat-label>
              <mat-select formControlName="role" required>
                <mat-option mdInput >--</mat-option>
                <mat-option mdInput *ngFor="let role of roles" #category [value]="role.id">
                            {{ role.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="registerForm.get('role').hasError('required')">Please choose a Role</mat-error>
            </mat-form-field>
          </div>

          <div class="field-wrapper">
            <input [disabled]="!registerForm.valid" type="submit" value="{{'signUp.submit' | translate}}" >
          </div>
          <span class="singin" (click)="showLogin()">{{'signUp.existingUser' | translate}}</span>
        </form>
      </div>
    </div>
    <div class="face face-left">
      <div class="content">
        <h2>{{'contact.contactUs' | translate}}</h2>
        <form onsubmit="event.preventDefault()">
          <div class="field-wrapper">
            <input type="text" name="name" placeholder="name" >
            <label> {{'contact.name' | translate}} </label>
          </div>
          <div class="field-wrapper">
            <input type="text" name="email" placeholder="email" >
            <label>{{'contact.email' | translate}} </label>
          </div>
          <div class="field-wrapper">
            <textarea placeholder="your message"></textarea>
            <label>{{'contact.yourMessage' | translate}} </label>
          </div>
          <div class="field-wrapper">
            <input type="submit" value="{{'contact.submit' | translate}}" (click)="showThankYou()">
          </div>
        </form>
      </div>
    </div>
    <div class="face face-bottom">
      <div class="content">
        <div class="thank-you-msg">
          Thank you!
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!-- modal header -->
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle">Add customizations</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- modal body  -->
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>