.w3-top span a{
    text-decoration: none; 
    font-size: x-large;
    font-family:cursive;
    margin-left: 15px;
}
.w3-top span a:hover{
    color:black;
}
.dropdown .btn{
    margin-top:9px;
    margin-right: 16px;
}
.dropdown-menu a{
    border: none;
    background-color: gray;
}
.logout{
    border: none;
    width: 95%;
    background-color: black;
    color: white;
    margin-top: 10px;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
}
.w3-card button:hover{
    opacity: 0.7;
}