<div class="w3-light-grey">
<app-header></app-header>
  <div class="w3-overlay w3-hide-large w3-animate-opacity" (click)="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
  <div class="w3-main" style="margin-left:300px;margin-top:43px;">
      <header class="w3-container" style="padding-top:22px">
          <p style="font-size: large;"><i class="fa fa-dashboard"></i> My Dashboard</p>
      </header>
  <div class="w3-row-padding w3-margin-bottom" style="margin-top: 10px;">
      <div class="w3-quarter">
        <div class="w3-container w3-red w3-padding-16">
          <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
          <div class="w3-right">
            <h3>52</h3>
          </div>
          <div class="w3-clear"></div>
          <h4>Total User</h4>
        </div>
      </div>
      <div class="w3-quarter">
        <div class="w3-container w3-blue w3-padding-16">
          <div class="w3-left"><i class="fa fa-eye w3-xxxlarge"></i></div>
          <div class="w3-right">
            <h3>99</h3>
          </div>
          <div class="w3-clear"></div>
          <h4>Total Orders</h4>
        </div>
      </div>
      <div class="w3-quarter">
        <div class="w3-container w3-teal w3-padding-16">
          <div class="w3-left"><i class="fa fa-share-alt w3-xxxlarge"></i></div>
          <div class="w3-right">
            <h3>23</h3>
          </div>
          <div class="w3-clear"></div>
          <h4>Orders Confirmed</h4>
        </div>
      </div>
      <div class="w3-quarter">
        <div class="w3-container w3-orange w3-text-white w3-padding-16">
          <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
          <div class="w3-right">
            <h3>50</h3>
          </div>
          <div class="w3-clear"></div>
          <h4>Orders Pending</h4>
        </div>
      </div>
      <div class="w3-container">
          <a class="w3-button w3-round w3-green" style="margin-top: 10px;padding:10px;float: right; "><i class="fa fa-download" style="margin-right: 5px ;font-size: 18px;" ></i>Generate PDF</a>
          <p style="font-size: large; margin-top: 20px;margin-left: 0px;" >Recent Comments</p> 
          <div class="w3-row">
            <app-employees-today-order></app-employees-today-order>
            <!-- <div class="w3-col m2 text-center">
                  <img class="rounded" src="" style="width:80px;height:80px">
            </div> -->
            <div class="w3-col m10 w3-container" >
              <h3>John <span class="w3-opacity w3-medium">Sep 29, 2014, 9:12 PM</span></h3>
              <p>Keep up the GREAT work! I am cheering for you!! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><br>
            </div>
          </div>
          <hr>
          <div class="w3-row">
              <!-- <div class="w3-col m2 text-center">
                    <img class="w3-circle" src="/w3images/avatar3.png" style="width:96px;height:96px">
              </div> -->
              <div class="w3-col m10 w3-container">
                <h3>John <span class="w3-opacity w3-medium">Sep 29, 2014, 9:12 PM</span></h3>
                <p>Keep up the GREAT work! I am cheering for you!! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p><br>
              </div>
            </div>
      </div>
  </div>
  <app-footer></app-footer> 
</div>
