<body>
  <app-header></app-header>
  <div class="w3-main" style="margin:90px 20px 0 330px;">
    <!-- <button mat-button (click)="deleteDialog('',{})" class="deleteStyle" mat-flat-button color="primary">Remove</button> -->
    <a mat-button (click)="openDialog('Add',{})" class="style w3-button w3-green w3-round" mat-flat-button color="primary">Add Row</a>
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search keyword" #input>
    </mat-form-field>
    <div class="example-container mat-elevation-z8">
      <mat-table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="id">
          <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
          <mat-cell mat-cell *matCellDef="let row">
            <span class="mobile-label"></span>
            {{row.id}}</mat-cell>
        </ng-container>


        <ng-container matColumnDef="menue">
          <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>menue</mat-header-cell>
          <mat-cell mat-cell *matCellDef="let row">
            <span class="mobile-label">ID:</span>
            {{row.menue}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
          <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>description</mat-header-cell>
          <mat-cell mat-cell *matCellDef="let row">
            <span class="mobile-label">description:</span>
            {{row.description}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="price">
          <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>price</mat-header-cell>
          <mat-cell mat-cell *matCellDef="let row">
            <span class="mobile-label">price:</span>
            {{row.price}}</mat-cell>
        </ng-container>


        <ng-container matColumnDef="qty">
          <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>qty</mat-header-cell>
          <mat-cell mat-cell *matCellDef="let row">
            <span class="mobile-label">qty:</span>
            {{row.qty}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="image">
          <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Image</mat-header-cell>
          <mat-cell  mat-cell *matCellDef="let element" class="action-link">
          
          </mat-cell>
        </ng-container>
        
        <ng-container matColumnDef="action">
          <mat-header-cell mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
          <mat-cell  mat-cell *matCellDef="let element" class="action-link">
            <span class="mobile-label">Action:</span>
            <a class="w3-button w3-red w3-round"  (click)="delete('Delete',element)">Delete</a>
          </mat-cell >
        </ng-container>
      
        <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>


        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="5">No data matching the filter "{{input.value}}"</td>
        </tr>
      </mat-table>
    </div>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>    
  </div> 
<app-footer></app-footer>
</body>