html, body, h1, h2, h3, h4, h5 {
    font-family: "Open Sans", sans-serif
}
.col-50 {
    -ms-flex: 50%; 
    flex: 50%;
    padding: 0 16px;
  }
  span.price {
    float: right;
    color: grey;
  }
  .counter {
    width: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid #4caf50; */
}
.counter input {
    width: 50px;
    border: 2px solid #4caf50;
    line-height: 15px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    /* background: #4caf50; */
    /* color: #fff; */
    background: white;
    color: black;
    appearance: none;
    outline: 0;
}
.counter span {
    display: block;
    font-size: 25px;
    padding: 0 10px;
    cursor: pointer;
    color: #4caf50;
    user-select: none;
}
.qty{
  margin-left: 15px;
  color: rgba(43, 89, 173);
}
/* table tr th{
  border: 1px solid grey;
} */
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
/* .checkout{
  height: 200px;  
  overflow: auto;
} */
.anchor{
  float: right;
  margin: 10px;
  padding: 5px;
  text-align: center;
}
.headerImage{
  width: 100%;
  height: 180px;
  background-image: url(src/assets/images/we-serve.jpeg);
  background-position: center;
  background-size: cover;
  background-origin: content-box;
}