<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body class="w3-theme-l5" >

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align w3-large">


  <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
    <img src="" class="w3-circle" style="height:23px;width:23px" alt="Avatar">
  </a>
 </div>
</div>



<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top: 80px;">
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3  ">
      <!-- Profile -->
      <div class="w3-card w3-round w3-white">
        <div class="w3-container">
         <h4 class="w3-center">My Profile</h4>
         <p class="w3-center"><img src="" class="w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
         <hr>
         <p><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i> Designer, UI</p>
         <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> London, UK</p>
         <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> April 1, 1988</p>
        </div>
      </div>
      <br>
      <br>
      <!-- Interests -->
      <div class="w3-card w3-round w3-white w3-hide-small">
        <div class="w3-container">
          <p>Interests</p>
          <p>
            <span class="w3-tag w3-small w3-theme-d5">Bryani</span>
            <span class="w3-tag w3-small w3-theme-d4">Pizza</span>
            <span class="w3-tag w3-small w3-theme-d3">Kababs</span>
            <span class="w3-tag w3-small w3-theme-d2">Raita</span>
            <span class="w3-tag w3-small w3-theme-d1">2 Rooti</span>
            <span class="w3-tag w3-small w3-theme">Beef</span>
            <span class="w3-tag w3-small w3-theme-l1">Burger</span>
            <span class="w3-tag w3-small w3-theme-l2">Food</span>
            <span class="w3-tag w3-small w3-theme-l3">Mutton</span>
            <span class="w3-tag w3-small w3-theme-l4">Paloow</span>
            <span class="w3-tag w3-small w3-theme-l5">Sharwama</span>
          </p>
        </div>
      </div>
      <br>

      <!-- Alert Box -->
      <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
          <i class="fa fa-remove"></i>
        </span>
        <p><strong>Hey!</strong></p>
        <p>Today i think you'll eat <span class="w3-tag">Bryani</span></p>
      </div>

    <!-- End Left Column -->
    </div>

    <!-- Middle Column -->
    <div class="w3-col m7 ">
      <div class="container">
        <div class="row" >
          <div class="card" style="width:350px;margin:10px;" *ngFor="let menue of menues">
            <img class="card-img-top" src="" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">{{menue.menue}}</h4>
              <p class="card-text">{{menue.description}}</p>
              <span style="float: left;">
              
              </span>
              <span style="float: right;">
                <div class="counter">
                  <span class="down" (click)='decreaseCount(menue)'>-</span>
                  <input type="text" value="{{menue.value}}" >
                  <span class="up" (click)='increaseCount(menue)'>+</span>
                </div>
              </span>
            </div>
          </div>
          
        
          <!-- <div class="card" style="width:350px;margin:10px;">
              <img class="card-img-top" src="" alt="Card image" style="width:100%">
            <div class="card-body">
              <h4 class="card-title">Some name</h4>
              <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
              <span style="float: left;">
                
              </span>
              <span style="float: right;">
                <div class="counter">
                  <span class="down" onClick='decreaseCount(event, this)'>-</span>
                  <input type="text" value="1">
                  <span class="up" onClick='increaseCount(event, this)'>+</span>
                </div>
              </span>
            </div>
          </div> -->
        </div>

      </div>
    </div>
    <!-- End Middle Column -->
    <!-- Right Column -->
    <div class="w3-col m2">
      <div class="col-25 w3-card w3-round w3-white mt-3">
        <div class="container">
          <p style="text-align: center;font-size: 17px;">Cart<i class="fa fa-shopping-cart"></i></p>
          <hr>
          <p><a href="#" style="color: rgb(44, 180, 235);" >Product 1</a> <span class="price">$15</span></p>
          <p><a href="#" style="color: rgb(44, 180, 235);" >Product 2</a> <span class="price">$5</span></p>
          <p><a href="#" style="color: rgb(44, 180, 235);" >Product 3</a> <span class="price">$8</span></p>
          <p><a href="#" style="color: rgb(44, 180, 235);" >Product 4</a> <span class="price">$2</span></p>
          <hr>
          <p>Total <span class="price" style="color:black"><b>$30</b></span></p>
        </div>
       <a href="" class="btn btn-success m-3">Checkout</a>
      </div>


      <div class="w3-card w3-round w3-white w3-center w3-hide-small mt-3">
        <div class="w3-container">
          <p>Notifications:</p>
          <p class="w3-tag"><strong><i class="fa fa-microphone" aria-hidden="true"></i> Voice Order Comming Soon!</strong></p>
          <p>Friday 15:00</p>
          <p><button class="w3-button w3-block w3-theme-l4">Info</button></p>
        </div>
      </div>
      <br>



      

      <!-- <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <p>Friend Request</p>
          <img src="/w3images/avatar6.png" alt="Avatar" style="width:50%"><br>
          <span>Jane Doe</span>
          <div class="w3-row w3-opacity">
            <div class="w3-half">
              <button class="w3-button w3-block w3-green w3-section" title="Accept"><i class="fa fa-check"></i></button>
            </div>
            <div class="w3-half">
              <button class="w3-button w3-block w3-red w3-section" title="Decline"><i class="fa fa-remove"></i></button>
            </div>
          </div>
        </div>
      </div> -->
      <br>

      <br>

      <!-- <div class="w3-card w3-round w3-white w3-padding-32 w3-center">
        <p><i class="fa fa-bug w3-xxlarge"></i></p>
      </div> -->

    <!-- End Right Column -->
    </div>

  <!-- End Grid -->
  </div>

<!-- End Page Container -->
</div>
<br>

<!-- Footer -->

<script>
// Accordion
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    x.previousElementSibling.className += " w3-theme-d1";
  } else {
    x.className = x.className.replace("w3-show", "");
    x.previousElementSibling.className =
    x.previousElementSibling.className.replace(" w3-theme-d1", "");
  }
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else {
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>