html, body, h1, h2, h3, h4, h5 {
    font-family: "Open Sans", sans-serif
}
.col-50 {
    -ms-flex: 50%; 
    flex: 50%;
    padding: 0 16px;
  }
  span.price {
    float: right;
    color: grey;
  }
  .counter {
    width: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 2px solid #4caf50; */
}
.counter input {
    width: 50px;
    border: 2px solid #4caf50;
    line-height: 15px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    /* background: #4caf50; */
    /* color: #fff; */
    background: white;
    color: black;
    appearance: none;
    outline: 0;
}
.counter span {
    display: block;
    font-size: 25px;
    padding: 0 10px;
    cursor: pointer;
    color: #4caf50;
    user-select: none;
}