<body class="w3-theme-l5">
  <app-header></app-header>

<!-- Page Container -->
  <div class="w3-container w3-content w3-round" style=" opacity: 0.9; max-width:1400px;padding-top: 60px;background-color: #f1f1f1;">
    <!-- The Grid -->
    <div class="w3-row">
      <!-- Left Column -->
      <div class="w3-col m3  ">
        <br>
        <!-- app-today-order -->
        <div class="w3-card w3-round w3-white" style="margin-top: -22px;">
          <div class="w3-container">
            <p >Today Order</p>
            <app-today-order></app-today-order>
          </div>
        </div>

        <br/>

        <!-- Interests -->
        <div class="w3-card w3-round w3-white w3-hide-small">
          <div class="w3-container">
            <p>Interests</p>
            <p>
              <span class="w3-tag w3-small w3-theme-d5">Bryani</span>
              <span class="w3-tag w3-small w3-theme-d4">Pizza</span>
              <span class="w3-tag w3-small w3-theme-d3">Kababs</span>
              <span class="w3-tag w3-small w3-theme-d2">Raita</span>
              <span class="w3-tag w3-small w3-theme-d1">Rooti</span>
              <span class="w3-tag w3-small w3-theme">Beef</span>
              <span class="w3-tag w3-small w3-theme-l1">Burger</span>
              <span class="w3-tag w3-small w3-theme-l2">Food</span>
              <span class="w3-tag w3-small w3-theme-l3">Mutton</span>
              <span class="w3-tag w3-small w3-theme-l4">Paloow</span>
              <span class="w3-tag w3-small w3-theme-l5">Sharwama</span>
            </p>
          </div>
        </div>
        <br>

        <!-- Alert Box -->
        <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
          <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
            <i class="fa fa-remove"></i>
          </span>
          <p><strong>Hey!</strong></p>
          <p>Today i think you'll eat <span class="w3-tag">Bryani</span></p>
        </div>

        <!-- End Left Column -->
      </div>

      <!-- Middle Column -->
      <div class="w3-col m7 ">
        <div class="container">


          <div class="headerImage" >

          </div>


          <div class="row" >
            <div class="card" style="width:350px;margin:17px;" *ngFor="let menue of menues">

              <img class="card-img-top" src="data:image/jpeg;base64,{{menue.picture}}" alt="Card image" style="width:100%;height:200px;">
              <div class="card-body">
                <h2 class="card-title">{{menue.menue}}:</h2>

                <p class="card-text"><b>Description</b>: {{menue.description}}</p>
                <p class="card-text w3-row">
                  <span class="w3-col l6">
                    <b>Per:</b> {{ menue.qty }}
                  </span>
                  <span class="w3-col l6">
                    <b>Price:</b> {{ menue.price }} PKR
                  </span>
                </p>

                <span style="float: right;">
                  <div class="counter">
                    <span class="down" (click)='decreaseCount(menue)'>-</span>
                    <input type="text"  value="{{menue.qty}}">
                    <span class="up" (click)='increaseCount(menue)'>+</span>
                  </div>
                </span>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- End Middle Column -->
      <!-- Right Column -->
      <div class="w3-col m2">
        <div *ngIf="local_cart!=null && local_cart.length!=0 && childtodayData==undefined" class=" w3-card w3-round w3-white  checkout" >
          <div style="background-color:#002360">
            <p style="font-size: 20px;display: inline-block; margin: 9px;color: white;">Cart<i class="fa fa-shopping-cart"></i></p>
            <a  (click)="checkout()" class="w3-button w3-round w3-white anchor mt-2" >Checkout</a>
          </div>
          <div >
            <table class="w3-table-all" >
              <thead>
                <tr>
                  <th>Menue</th>
                  <th>Qty</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let cart of local_cart">
                  <td>{{cart.menue}}</td>
                  <td>{{cart.qty}}</td>
                  <td>{{cart.total}}</td>
                </tr>
              </tbody>
              <tr >
                <th colspan="2">Grand Total</th>
                <th>{{ total }}</th>
              </tr>
            </table>
          </div>
        </div>
        <div class="w3-card w3-round w3-white w3-center w3-hide-small mt-3" >
          <div class="w3-container">
            <p>Notifications:</p>
            <p class="w3-tag"><strong><i class="fa fa-microphone" aria-hidden="true"></i> Voice Order Comming Soon!</strong></p>
            <p>Friday 15:00</p>
            <p><button class="w3-button w3-block w3-theme-l4">Info</button></p>
          </div>
        </div>
        <div class="w3-card w3-round w3-white w3-padding-16 w3-center mt-3">
          <p>ADS</p>
        </div>
        <br>
      <!-- End Right Column -->
      </div>

      <!-- End Grid -->
    </div>

    <!-- End Page Container -->
  </div>
<br>

<app-footer></app-footer>

</body>
<ng-template #template>
  <div class="modal-header">
    Please Confirm your order and initial amount
  </div>
  <div class="modal-body">
    <table class="w3-table-all" >
      <thead>
        <tr>
          <th>Menue</th>
          <th>Qty</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cart of local_cart">
          <td>{{cart.menue}}</td>
          <td>{{cart.qty}}</td>
          <td>{{cart.price}}</td>
        </tr>
      </tbody>
      <tr >
        <th colspan="2">Grand Total</th>
        <th>{{ total }}</th>
      </tr>
    </table>
      <form [formGroup]="form" #orderForm="ngForm" (submit)="sendOrder(form.value)" >
        <div class="w3-container">
          <div class="w3-row">
            <div class="w3-col l12 s12 m12">
              <mat-form-field class="example-full-width" [style.width.px]=327>
                <mat-label>Min Initial Amount is:{{ total }}</mat-label>
                <input  matInput  formControlName="initialAmount"  maxlength="4" placeholder="Min Rs:{{ total }}">
                <mat-error *ngIf="form.get('initialAmount').hasError('required')">Intital amount required</mat-error>
                <mat-error *ngIf="form.get('initialAmount').hasError('min')">Minimum {{ total}} initial deposit required </mat-error>
              </mat-form-field>
            </div>
            <div class="w3-col l12 s12 m12 w3-padding-16">
              <button type="submit" [disabled]="!form.valid" class="btn btn-primary">confirm</button>
            </div>
          </div>
        </div>
      </form>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>
